header {
    height: calc(100vh - 105px);
    min-height: 700px;
    position: relative;
    .pagination-container {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
        .pagination-wrapper {
            position: absolute;
            top: 3rem;
            right: 0px;
            width: 80px;
            height: calc(40% - 80px);
            z-index: 10;
            .swiper-pagination-progressbar {
                background-color: #f7f6f4;
                right: 5px;
                top: 0;
                width: 2px;
                height: 80%;
                z-index: 11;
                span {
                    background-color: #616161;
                }
            }
            .slide-no {
                position: absolute;
                font-weight: 500;
                bottom: 0;
                font-family: "Michroma", sans-serif;
                width: 100%;
                text-align: right;
                color: #616161;
            }
        }
    }
}

.header-swiper {
    height: 100%;
    .swiper-container,
    .swiper-wrapper {
        height: 100%;
    }
    .swiper-slide {
        height: 100%;
        .slide-top {
            min-height: 260px;
            height: 40%;
            display: flex;
            align-items: center;
            .slide-content {
                font-family: "Michroma", sans-serif;
                max-width: 700px;
            }
        }
        .slide-bottom {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 60%;
        }
    }
}

@media (max-width: 991.5px) {
    header {
        height: calc(100vh - 95px);
    }
    .header-swiper {
        .swiper-slide {
            .slide-top {
                .slide-content {
                    max-width: 600px;
                    font-size: 1.7rem;
                }
            }
        }
    }
}

@media (max-width: 767.5px) {
    .header-swiper {
        .swiper-slide {
            .slide-top {
                .slide-content {
                    max-width: 80%;
                    font-size: 1.5rem;
                }
            }
        }
    }
}

@media (max-width: 575.5px) {
    header {
        height: calc(100vh - 90px);
    }
    .header-swiper {
        .swiper-slide {
            .slide-top {
                min-height: 200px;
                .slide-content {
                    max-width: 75%;
                    font-size: 1.2rem;
                }
            }
        }
    }
    header {
        .pagination-container {
            .pagination-wrapper {
                right: 15px;
                .slide-no {
                    font-size: 0.8rem;
                }
            }
        }
    }
}
